In [13]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import os
#os.chdir("/home/kaborg15/Vibrent_Dataset_Collection/")
os.chdir(r"C:\Users\kaborg15\PycharmProjects\vibrent_dataset_collection")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
from src.collect_database_data import construct_user_orders, format_outfit_array, get_outfit_pictures
from src import load_dataframes
from resources.constants import *
from src import build_dataset

#orders_df, outfits_df, pictures_df = build_dataset.get_dataframes(load_local_dataframes=False, include_tag_data=True)
orders_df, outfits_df, pictures_df  = build_dataset.build_dataset(load_local_dataframes=True)

Finished loading dataframes.
Finished constructing user activity triplets.
Finished constructing outfit data.
Finished constructing picture triplets.

In [11]:
outfits_df["outfit_tags"].values[0]

['Winter',
 'Synthetic',
 'Yellow',
 'Everyday',
 'Fall',
 'M',
 'Fleischer Couture',
 'Active']

In [5]:
import numpy as np
TRIPLET_COLUMNS = ["customer.id", "outfit.id", "meta.validFrom", "derived.bookingTime"]

print(orders_df.shape, orders_df["customer.id"].nunique(), orders_df["outfit.id"].nunique())
triplets_df = orders_df[TRIPLET_COLUMNS].dropna()
print(triplets_df.shape, triplets_df["customer.id"].nunique(), triplets_df["outfit.id"].nunique())

customer_ids = triplets_df["customer.id"].unique()
np.random.shuffle(customer_ids)
customer_id_dict = {customer_id: i for i, customer_id in enumerate(customer_ids)}
triplets_df["customer.id"] = triplets_df["customer.id"].apply(lambda x: customer_id_dict[x])

DATASET_FOLDER = "resources/data/dataset/"
triplets_df.to_csv(DATASET_FOLDER + "user_activity_triplets.csv", index=False, sep=";")

(62607, 10) 2267 10876
(62247, 4) 2223 10862

In [6]:
output_outfits_df = outfits_df.drop(["meta.validTo", "Outfit_size"], axis=1)
output_outfits_df

,id,name,description,group,timeCreated,retailPrice,outfit_tags,tag_categories
0,outfit.5c081909537b42239e465d2d615c705f,Naos Yellow Down Vest,The Naos Down Vest is a vest fest in nineties ...,group.79d7302719c9325ecb7a4a140fb25ca1,2022-06-08 11:02:21.294,2500.0000,"[Winter, Synthetic, Yellow, Everyday, Fall, M,...","[Seasons, Material, Color, Occasion, Seasons, ..."
1,outfit.c34969dd8b334064aa90bfb60c8ec308,Lava Print Wool Jacket,The Lava Print Wool Jacket is both classy and ...,group.8625d8e9c5b8da9b4793dd636ac9afc9,2022-05-23 14:30:01.014,3900.0000,"[Wool, Synthetic, Jackets, Everyday, Fall, Sum...","[Material, Material, Category, Occasion, Seaso..."
2,outfit.aef4cc93eebf40ca8820790deb7a8323,Wenge Mix Red Sweater,The Wenge Mix Sweater from Holzweiler is a kni...,group.f006b0dd53fdf64104db43f9c8dfe872,2022-11-30 17:08:50.288,2800.0000,"[Wool, Winter, Synthetic, Knitwear, Everyday, ...","[Material, Seasons, Material, Category, Occasi..."
3,outfit.3de5df48a14b4a9aba6d8e41d11e9351,Polaris Phantom Coat,"Polaris has a classic design, with a curved sh...",group.3222ea830704958953d7f63097e88143,2021-04-22 16:28:16.053,8000.0000,"[Winter, Synthetic, Jackets, Everyday, M, Flei...","[Seasons, Material, Category, Occasion, Size, ..."
4,outfit.0eaa358af14e469894062591bd42f38b,M1 Flashback Roulette Top,This oversized bohemian blouse features ruffle...,group.702a9964f42e5d231868610b9ed1422a,2020-07-14 10:24:56.418,800.0000,"[Ruffles, Cotton, Viscose, Multi Season, Every...","[Details, Material, Material, Seasons, Occasio..."
...,...,...,...,...,...,...,...,...
10871,outfit.9d1ad1d5682d4362998d630de71d39c2,White Tango Blouse,The Tango Blouse may look like your average bu...,group.3ad98f0fda4bdbbde86eb868deff0a11,2022-06-01 14:42:10.567,1150.0000,"[Ruffles, Dressed-up, Viscose, Blouses, Everyd...","[Details, Occasion, Material, Category, Occasi..."
10872,outfit.de9170fd97c541c7b9e7eb04769f4ada,C41 T Dress Light Blue,The 41 T Dress from Mette Møller is a a simple...,group.faddc60379540dfc5704cc316af560a3,2022-12-02 14:45:10.012,1600.0000,"[Wool, Winter, L, Knitwear, Midi, Everyday, Fa...","[Material, Seasons, Size, Category, Length, Oc..."
10873,outfit.288a3735ed2b4ef7b97f2e4c4c4c8906,Nomble Sweater Melange Dusty Rose,Nomble Melange from Rodebjer is a loose fitted...,group.13f8220b29e6cb980806f88d0eda3c50,2023-06-07 11:57:05.872,5100.0000,"[Wool, Winter, Knitwear, Rodebjer, Everyday, X...","[Material, Seasons, Category, Brand, Occasion,..."
10874,outfit.69315a3e5eb046a6bcba4c6a21b7f26d,Grey Brit Shirt Dress,A beautiful silk shirt dress with a sophistica...,group.ca145e0439d2a8d6b0ed6098f8033597,2022-01-24 13:23:22.091,2000.0000,"[Silk, Midi, Everyday, Fall, Dresses, Soyaaula...","[Material, Length, Occasion, Seasons, Category..."
10875,outfit.7c4da40ba9714abbb7922d1f8e822bed,Dress Beige,This beige dress from Bytimo has a decorative ...,group.65f019fcf6f5621db178e39091de8245,2023-03-23 09:06:42.838,2500.0000,"[Silk, Dressed-up, Dresses, XS, Summer, Mini, ...","[Material, Occasion, Category, Size, Seasons, ..."

In [17]:
# def sep_in_text(text, sep):
#     if text is None:
#         return None
#     return sep in text

# output_outfits_df["name_valid"] = output_outfits_df["name"].apply(lambda x: sep_in_text(x, ";"))
# output_outfits_df["description_valid"] = output_outfits_df["description"].apply(lambda x: sep_in_text(x, ";"))
# output_outfits_df[output_outfits_df["description_valid"] == True]["description"].values[5]

In [7]:
output_outfits_df["description"] = output_outfits_df["description"].apply(lambda x: x.replace(";", ":"))
output_outfits_df.to_csv(DATASET_FOLDER + "outfits.csv", index=False, sep=";")

In [9]:
picture_triplets_df = pictures_df[["id", "owner", "displayOrder"]]
picture_triplets_df.columns = ["picture.id", "outfit.id", "displayOrder"]
picture_triplets_df = picture_triplets_df[picture_triplets_df["outfit.id"].isin(output_outfits_df["id"])].copy()
print(pictures_df.shape, picture_triplets_df.shape)

picture_triplets_df.to_csv(DATASET_FOLDER + "picture_triplets.csv", index=False, sep=";")

(35545, 12) (35545, 3)

In [14]:
from src import retrieve_image_bucket_data

dataset_picture_ids = picture_triplets_df["picture.id"].unique()
print(len(dataset_picture_ids), len(pictures_df["id"].unique()))

retrieve_image_bucket_data.download_to_folder(dataset_picture_ids, "resources/data/dataset/images/")

35545 35545

/opt/conda/envs/FREja_API_310/lib/python3.10/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
 81%|████████▏ | 28905/35545 [1:27:04<18:49,  5.88it/s]  IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

100%|██████████| 35545/35545 [1:47:10<00:00,  5.53it/s]

In [11]:
import pandas as pd

test_df = pd.read_csv(DATASET_FOLDER + "picture_triplets.csv", on_bad_lines="warn", sep=";")

In [12]:
test_df

,picture.id,outfit.id,displayOrder
0,picture.0000cdba64314d84a49ed1c266589cc0,outfit.794483397da8425a813301eecf9828c6,0
1,picture.00058abb53434872ae9bb4270ae21f8e,outfit.98f32aaf08bc4ff09c44e6e11e9199bc,2
2,picture.00063f52c36d43ada95da45f819b30b4,outfit.9fd1c42c3db543c5b6e53b0db1ee8c0f,3
3,picture.0008443461814f5c988f123718bbd20e,outfit.a7539783b6e94591bdf4e10339afc1d7,3
4,picture.000cf715019a4a02aaf0dc479212195a,outfit.f11bdc25d87946f8b831b608bc8fb574,1
...,...,...,...
35540,picture.fff842f598dd4c3d9c80d2c1e00c4a26,outfit.c9ba76ae33c44aa5a06b23a4e4229fb1,0
35541,picture.fffa8417a83642e0aba3c8187e80a3b9,outfit.225b573681f9446a8b5dc126add381b8,2
35542,picture.fffb74fce5fe45a38a044d615aa2a24d,outfit.31c9f26da9dc4db99d3c4bbedf1684ea,4
35543,picture.fffc775422274fd7937563d5cb872bf5,outfit.6f1c819d6eff430f9205e034b8cbafc4,3
35544,picture.fffd49c19adb41eca997f2446c809ba0,outfit.8683d74742d24a1fa0078771b0c8e469,3