In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(os.path.dirname(os.getcwd()))
print(os.getcwd())
from resources.constants import *



pictures_df = pd.read_csv(PICTURE_TRIPLETS_CSV_PATH, sep=CSV_SEPARATOR)
outfits_df = pd.read_csv(OUTFITS_CSV_PATH, sep=CSV_SEPARATOR)
user_triplets_df = pd.read_csv(USER_ACTIVITY_TRIPLETS_CSV_PATH, sep=CSV_SEPARATOR)

c:\Users\kaborg15\Python_projects\Vibrent_Dataset_Collection

In [15]:
outfits_df["id"].nunique(), outfits_df["group"].nunique()

(15829, 9791)

In [17]:
user_triplets_df["customer.id"].nunique()

2249

In [18]:
user_triplets_df

,customer.id,outfit.id,meta.validFrom,derived.bookingTime
0,969,outfit.5c081909537b42239e465d2d615c705f,2023-04-27 12:46:35.184,2023-03-19 14:24:09.539
1,209,outfit.c34969dd8b334064aa90bfb60c8ec308,2023-05-05 09:44:38.200,2023-01-17 13:36:53.371
2,209,outfit.aef4cc93eebf40ca8820790deb7a8323,2023-05-05 09:44:38.200,2023-01-17 13:36:53.371
3,2235,outfit.3de5df48a14b4a9aba6d8e41d11e9351,2022-11-22 03:04:56.144,2021-10-04 10:00:17.854
4,2235,outfit.0eaa358af14e469894062591bd42f38b,2022-11-22 03:04:56.144,2021-10-04 10:00:17.854
...,...,...,...,...
64165,1426,outfit.5bedabce07614c608b03fbb369d9abe7,2022-11-22 13:11:49.877,2021-07-10 08:09:49.250
64166,358,outfit.bb35c791b2bfa191,2021-05-28 11:41:48.526,2021-04-19 06:52:08.332
64167,358,outfit.ad6f853b5c31b6f5,2021-05-28 11:41:48.526,2021-04-19 06:52:08.332
64168,1629,outfit.73393583c562454cbf1c00ce3cac0862,2023-11-25 07:48:26.991,2023-11-21 13:27:25.349
64169,969,outfit.a452840fe7e74c25962d1718f346c4b5,2022-11-02 01:29:52.712,2022-04-10 22:10:00.425

In [4]:
len(pictures_df["picture.id"].unique())

50293

In [6]:
len(os.listdir(DATASET_IMAGES_FOLDER))

35513